.intent {
  font-size: large;
  padding-bottom: 10px;
}
.intenta {
  font-weight: bold;
}

.checkbox {
  padding-top: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.required {
  display:none;
}
.entity_extract_body {
  padding-top: 15px;
}
.passage { text-align:center; }
.history { text-align:center; display: none;}
.multiple_add { display: none; }
.entity_types { padding: 15px 0; }
.btn {padding:5px;}
